<div id="<%= dom_id break %>">
  <p>
    <strong>Start time:</strong>
    <%= break.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= break.end_time %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= break.active %>
  </p>

  <p>
    <strong>Shift:</strong>
    <%= break.shift_id %>
  </p>

</div>
