<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <div>
    <% if @user.active_shift.present? && @user.active_break.blank? %>
      <%= link_to "End Shift", user_shifts_end_path(@user) %>
    <% end %>
    <% if @user.active_shift.blank? %>
      <%= link_to "Start Shift", user_shifts_start_path(@user) %>
    <% end %>
  </div>

  <% if @user.active_shift.present? %>
    <div>
      <% if @user.active_shift&.lunch_break.blank? || @user.active_shift&.lunch_break.active.present? %>
      <div> 
        <% if @user.active_lunch_break.present? %>
          <%= link_to "End Lunch Break", user_shifts_end_lunch_break_path(@user) %>
        <% else %>
          <%= link_to "Start Lunch Break", user_shifts_start_lunch_break_path(@user) %>
        <% end %>
      </div>
    <% end %>

    <% if @user.active_shift.present? && @user.active_lunch_break.blank? %>
      <div>
        <% if @user.active_normal_break.present?  %>
          <%= link_to "End Break", user_shifts_end_break_path(@user) %>
        <% else %>
          <%= link_to "Start Break", user_shifts_start_break_path(@user) %>
        <% end %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
<br />
<div>
  <%= link_to "My Shifts", user_shifts_path(@user) %>
</div>
<br />
<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>
</div>
